<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
    https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">
    <filter>
        <display-name>authenticationFilter</display-name>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>com.itwill.lab05.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <!-- 필터가 필터링하는 요청 주소들. 나열한 페이지들은 필터를 거친후 서블릿으로 갈수도 있고
        안갈수도 있음 필터가 필터링을 해주어야되는 url주소들 <url-pattern>필터링주소</url-pattern> 사이에 나열 
        굳이 여기서 한 이유는 필터는 적용되는 순서가 중요해서!
        요청이 들어오면 1번째 필터를 거치고 2번째 필터를 거치고 그 다음에 서블릿으로 가고
        이럴수가 있으니까 1번을 먼저거치고 2번으로 갈거냐는 중요할수도 있고 아닐수도 있는데
        만약 순서가 중요하다면, web.xml에서 정의. 서블릿 클래스의 @애너테이션말고, 여기서 정의하면 됨.
        지금 나열한건 로그인 해야지만 접근 가능한 주소로 하기 위해서 시나리오를 짜서! -->
        <filter-name>authenticationFilter</filter-name>
        <url-pattern>/post/create</url-pattern>
        <url-pattern>/post/details</url-pattern>
        <url-pattern>/post/modify</url-pattern>
        <url-pattern>/post/update</url-pattern>
        <url-pattern>/post/delete</url-pattern>
    </filter-mapping>
    <display-name>lab05_jsp</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>cookieController</servlet-name>
        <servlet-class>com.itwill.lab04.controller.CookieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>secondServlet</servlet-name>
        <servlet-class>com.itwill.lab04.SecondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactController</servlet-name>
        <servlet-class>com.itwill.lab04.controller.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirectServlet</servlet-name>
        <servlet-class>com.itwill.lab04.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forwardServlet</servlet-name>
        <servlet-class>com.itwill.lab04.ForwardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionController</servlet-name>
        <servlet-class>com.itwill.lab04.controller.SessionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frontController</servlet-name>
        <servlet-class>com.itwill.lab05.web.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postDeleteController</servlet-name>
        <servlet-class>com.itwill.lab05.web.PostDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postDetailsController</servlet-name>
        <servlet-class>com.itwill.lab05.web.PostDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postListConroller</servlet-name>
        <servlet-class>com.itwill.lab05.web.PostListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postModifyController</servlet-name>
        <servlet-class>com.itwill.lab05.web.PostModifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postUpdateController</servlet-name>
        <servlet-class>com.itwill.lab05.web.PostUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userSignUpController</servlet-name>
        <servlet-class>com.itwill.lab05.web.UserSignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userSignInController</servlet-name>
        <servlet-class>com.itwill.lab05.web.UserSignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userSignOutController</servlet-name>
        <servlet-class>com.itwill.lab05.web.UserSignOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postCreateController</servlet-name>
        <servlet-class>com.itwill.lab05.web.PostCreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookieController</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>secondServlet</servlet-name>
        <url-pattern>/ex2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactController</servlet-name>
        <url-pattern>/mvc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirectServlet</servlet-name>
        <url-pattern>/ex4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forwardServlet</servlet-name>
        <url-pattern>/ex3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionController</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frontController</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postDeleteController</servlet-name>
        <url-pattern>/post/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postDetailsController</servlet-name>
        <url-pattern>/post/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postListConroller</servlet-name>
        <url-pattern>/post/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postModifyController</servlet-name>
        <url-pattern>/post/modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postUpdateController</servlet-name>
        <url-pattern>/post/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userSignUpController</servlet-name>
        <url-pattern>/user/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userSignInController</servlet-name>
        <url-pattern>/user/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userSignOutController</servlet-name>
        <url-pattern>/user/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postCreateController</servlet-name>
        <url-pattern>/post/create</url-pattern>
    </servlet-mapping>
</web-app>